# Auto detect text files and perform LF normalization
* text=auto

# Ensure specific source files always use LF in repository
*.py text eol=lf
*.js text eol=lf
*.css text eol=lf
*.html text eol=lf
*.json text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.gitignore text eol=lf
